% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {platform_define, "R15", 'gen_tcp_r15b_workaround'},
            {platform_define, "(R14|R15|R16B-)", 'crypto_compatibility'}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{template_dir, "support/templates/"}.
